# =========================

# Build files

# =========================

/build/

/dist/

/out/

# =========================

# NetBeans specific

# =========================

/nbproject/private/

/nbproject/build-impl.xml

/nbproject/genfiles.properties

# =========================

# OS files (Mac)

# =========================

.DS_Store

# =========================

# Logs

# =========================

*.log

# =========================

# Temporary files

# =========================

*.tmp

*.swp

# =========================

# Compiled files

# =========================

*.class
